.titulos{
    text-align: center;
    margin-top: 2%;
    font-family:fantasy;
    
   
}
body{
    text-align: center;
    background-color: rgba(223, 228, 236, 0.733);
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    
   
}

p{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 20%;
    margin-right: 20%;
}
h3{
    font-family:fantasy;
    font-size: 27pt;
    margin-left: 20%;
    margin-right: 20%;
}
legend{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 10pt;
}
.icone1{
    background-color:rgb(120, 217, 241);
    width: 40%;
}
.icone2{
    background-color: rgba(93, 97, 96, 0.568);
    width: 40%;
    
}
.icone3{
    background-color: rgb(120, 217, 241);
    width: 40%;
   
}
.icone4{
    background-color: rgba(93, 97, 96, 0.568);
    width: 40%;
}

.icone5{
    background-color: rgb(120, 217, 241);
    width: 40%;
}
.icone6{
    background-color: rgba(93, 97, 96, 0.568);
    width: 40%;
}
.tabela{
    position: absolute;
    width: 71%;
    left: -15%;
    border:medium;
    border-color: black;

}

#imagens{
     display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  
    width: 80%;
    max-width: 100%;
    height: 25vw;
    max-height: 50%;

    position: relative;
}
#imagens img{
    opacity: 0;
    position:absolute;
    width: 75%;
    height: 100%;
    object-fit: cover;
    transition: opacity 1000ms;
}
#imagens img.primeiraimagem{
    opacity: 1;

}

.teste{
    font-size: 900%;
}
.titulo{
    
    position: absolute;
    display:contents;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-family:fantasy;
   
    
}

.inicio{
    position: relative;
    -webkit-filter: blur(15px);
  -moz-filter: blur(15px);
  -o-filter: blur(15px);
  -ms-filter: blur(15px);
  filter: blur(5px);
  transition: all 3s;
    cursor: pointer;
}
.inicio:hover{
    -webkit-transform: scale(1);
    transform: scale(1.1);
}
.divs{
    transition: all 0.7s;
    cursor: pointer;
    
}
.divs:hover{
    -webkit-transform: scale(1);
    transform: scale(1.2);
}
.divimagem{
    transition: all 1s;
    cursor: pointer;
}
.divimagem:hover{
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
}
.imgicone1{
   position: relative;
   right: 40%;
}
.texticone1{
    text-align: center;
    position: relative;
    left: 5%;
    bottom: 70px;
   
}
.iconesfundo{
    position: relative;
    margin-left: 80%;
    
}
.iconesfundo2{
    position: relative;
    margin-left: 90%;
    
}

.iconesfundo3{
    position: relative;
    margin-right: 80%;
    
   
}

.iconesfundo4{
    position: relative;
    margin-right: 90%;
}
.iconesfundo5{
    position: relative;
   margin-left: 80%;
     

}
.iconesfundo6{
    position: relative;
   margin-left: 90%;
     

}
.iconesfundo7{
    position: relative;
   margin-right: 80%;
     

}
.iconesfundo8{
    position: relative;
   margin-right: 90%;
     

}

.tudo{
    position: absolute;
    margin-top: -2920px;

}
legend{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.imagemarduino{transition: all 0.5s;
    cursor: pointer;

}
.imagemarduino:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}
.centro{
    position: relative;
    margin-left: 27%;
    
}
.ajustediv{
    display: contents;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    position: relative;
}
.alinhandolinha{
    position: relative;
    left: -27%;
}
.alinhandotexto{
    position: relative;
    left: -27%;

}
